# AWS SAM CLI Configuration File Example
# Copy this file to samconfig.toml or let `sam deploy --guided` generate it automatically.

version = 0.1

[default]
[default.global.parameters]
stack_name = "cloudgallery-prod"

[default.build.parameters]
cached = true
parallel = true

[default.validate.parameters]
lint = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = false
resolve_s3 = true
stack_name = "cloudgallery-prod"
s3_prefix = "cloudgallery-prod"
region = "us-east-1"
disable_rollback = false
image_repositories = []

[default.package.parameters]
resolve_s3 = true

[default.sync.parameters]
watch = true

[default.local_start_api.parameters]
warm_containers = "EAGER"

[default.local_start_lambda.parameters]
warm_containers = "EAGER"
